{% extends 'layout.html' %} {% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <table id="example" class="display" cellspacing="0" width="100%">
		    <thead>
                <tr>
                    <th>id</th>
                    <th>Nome</th>
                    <th>Geometria</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>id</th>
                    <th>Nome</th>
                    <th>Geometria</th>
                    <th>Opções</th>
                </tr>
            </tfoot>
            <a href="/camada/local/criar/" class="btn btn btn-primary">Criar Local</a>
	    </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block scriptsJava %}

<script >
        function popupMap(map_id) {
            url = '/camada/local/ver/' + map_id + '/';
            newW = 980;
            newH = 450;
            left = (screen.width - newW) / 2;
            top = (screen.height - newH) / 2;
            newwindow = window.open(url, 'name', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, ' +
                    'width=' + newW + ',height=' + newH + ',left=' + left + ',top=' + top);
            newwindow.resizeTo(newW, newH);
            newwindow.moveTo(left, top);
            newwindow.focus();
        }
        $(document).ready(function() {

           table =  $("#example").DataTable( {
                "lengthMenu": [[100, -1], [100, "All"]],
                "processing": true,
                "serverSide": false,
                "order": [[ 1, "desc" ]],
                "ajax": '/camada/api/local/lista/',
                "columns": [
                    { "data": "id", "visible":false },
                    { "data": "descricao" },
                    { "data": "geometria" },
                    { "data": "id",
                            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                                $(nTd).html("<a class='btn btn-info btn-sm' href='/camada/local/editar/"+oData.id+"/'>" +
                                        " Editar </a> <a class='btn btn-primary btn-sm' onclick='popupMap("+oData.id+");' href='#"
                                        +oData.id+"/'> Ver Mapa </a>");

                    } }
               ],
                "language" : {
                        "sProcessing":   "A processar...",
                        "sLengthMenu":   "Mostrar _MENU_ registos",
                        "sZeroRecords":  "Não foram encontrados resultados",
                        "sInfo":         "Mostrando de _START_ até _END_ de _TOTAL_ registos",
                        "sInfoEmpty":    "Mostrando de 0 até 0 de 0 registos",
                        "sInfoFiltered": "(filtrado de _MAX_ registos no total)",
                        "sInfoPostFix":  "",
                        "sSearch":       "Procurar:",
                        "sUrl":          "",
                        "oPaginate": {
                                        "sFirst":    "Primeiro",
                                        "sPrevious": "Anterior",
                                        "sNext":     "Seguinte",
                                        "sLast":     "Último"
                                    }
                }
            } );
        } );
    </script>

{% endblock %}
