{% load leaflet_tags %}
{% load geojson_tags %}

{% leaflet_js %}
{% leaflet_css %}

<input id="poligono_tipo" type="hidden" value="{{ obj.type }}">
{% leaflet_map "yourmap" callback="main_map_init" %}


<script src="/static/assets/js/vendor/jquery-1.12.0.min.js"></script>
<script>
    var type_geojson = $('#poligono_tipo').val();
    var geojson = {
            "type": "Feature",
            "geometry": {
                "type": type_geojson,
                "coordinates": {{ obj.coordinates }}
            }
    };

    function main_map_init(map, options) {
        L.geoJson(geojson).addTo(map);
    }
</script>
