{% extends 'layout.html' %} {% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
    {% include "impacto/include/fase_temp_header.html" %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
      <div class="box">
          </br>
          <h2>Criar area</h2>
          <div class="col-lg-3">
              <form action="/impacto/projetos/perfil_projeto/criar_area/{{ projeto.id }}/" method="POST">
                  {% csrf_token %}
                  {{ form|crispy }}
                  <a href="#">Buscar</a>
                  <p>Para converter os formatos, utilize o website <a href="https://ogre.adc4gis.com/" target="_blank">OGRE</a> </p>
                  <br/>
                  <input class="btn btn btn-primary" type="submit" value="Criar">
                  <input type="hidden" value="">
              </form>
          </div>
      </div>
  </div>

{% endblock %}
