{% extends 'layout.html' %} {% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
    {% include "impacto/include/fase_temp_header_fase.html" %}
    {% include "impacto/include/fase_temp_header.html" %}
        </br>
      <div class="box">
          <div class="col-lg-3">
              <form action="/impacto/projetos/perfil_projeto/criar_impacto_projeto/{{ projeto.id }}/{{ faseprojeto }}/" method="POST">
                  {% csrf_token %}
                  {{ form|crispy }}
                  <input class="btn btn-action btn-lg" type="submit" value="Criar">
              </form>
          </div>
      </div>
  </div>
{% endblock %}
