{% extends 'layout.html' %} {% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
    {% include "impacto/include/fase_temp_header_fase.html" %}
    {% include "impacto/include/fase_temp_header.html" %}
        </br>
      <div class="box">
          <div class="col-lg-3">
              <form action="/impacto/projetos/perfil_projeto/criar_impacto_projeto/{{ projeto.id }}/{{ faseprojeto }}/" method="POST">
                  {% csrf_token %}
                  {{ form|crispy }}
                  <br/>
                  <br/>
                  <input class="btn btn btn-primary" type="submit" value="Criar">
              </form>
          </div>
      </div>
  </div>
{% endblock %}
{% block scriptsJava %}
    <script>
        function changeImpacto(){
            $('#id_impacto_FK option[value!=""]').remove();
             meio_id = $( "#id_meio_FK option:selected").val();
             $.get( "/impacto/api/get_impactos/"+meio_id+"/", function( data ) {
                $.each(data, function (i, item) {
                    $.each( item, function( index, value ){
                        $('#id_impacto_FK').append($('<option>', {
                            value: value.id,
                            text : value.nome
                        }));
                    });
                });
             });
        }
         $( "#id_meio_FK" ).change(function() {
            changeImpacto();
        });
    </script>
{% endblock %}
