{% extends 'layout.html' %} {% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <table id="example" class="display" cellspacing="0" width="100%">
		    <thead>
                <tr>
                    <th>id</th>
                    <th>Fase</th>
                    <th>Descrição</th>
                    <th>Status</th>
                    <th>Data Início</th>
                    <th>Data Término</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>id</th>
                    <th>Fase</th>
                    <th>Descrição</th>
                    <th>Status</th>
                    <th>Data Início</th>
                    <th>Data Término</th>
                </tr>
            </tfoot>
	    </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block scriptsJava %}

<script >
        $(document).ready(function() {
           table =  $("#example").DataTable( {
                "lengthMenu": [[100, -1], [100, "All"]],
                "processing": true,
                "serverSide": false,
                "order": [[ 1, "desc" ]],
                "ajax": '/impacto/api/get_projetos/',
                "columns": [
                    { "data": "id", "visible":false },
                    { "data": "nome" },
                    { "data": "descricao" },
                    { "data": "status_FK__descricao" },
                    { "data": "data_inicio" },
                    { "data": "data_termino" }
               ],
                "language" : {
                        "sProcessing":   "A processar...",
                        "sLengthMenu":   "Mostrar _MENU_ registos",
                        "sZeroRecords":  "Não foram encontrados resultados",
                        "sInfo":         "Mostrando de _START_ até _END_ de _TOTAL_ registos",
                        "sInfoEmpty":    "Mostrando de 0 até 0 de 0 registos",
                        "sInfoFiltered": "(filtrado de _MAX_ registos no total)",
                        "sInfoPostFix":  "",
                        "sSearch":       "Procurar:",
                        "sUrl":          "",
                        "oPaginate": {
                                        "sFirst":    "Primeiro",
                                        "sPrevious": "Anterior",
                                        "sNext":     "Seguinte",
                                        "sLast":     "Último"
                                    }
                }
            } );

             $('#example tbody').on( 'click', 'tr', function () {
                  if ( $(this).hasClass('selected') ) {
                      $(this).removeClass('selected');
                  }
                  else {
                      table.$('tr.selected').removeClass('selected');
                      $(this).addClass('selected');
                      id = table.row('.selected').data()['id'];
                      window.location.replace("/demandas/detalhe/" + id);
                  }
           } );

        } );
    </script>

{% endblock %}
