{% extends 'layout.html' %} {% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

    {% include "impacto/include/fase_temp_header.html" %}
    <div class="row">
      <div class="col-lg-12">
          </br>
          <div class="col-lg-5">
              <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionDetail" href="#collapseAreas">
                            Areas
                        </a>
                    </h4>
                </div>
                <div id="collapseAreas" class="panel-collapse collapse">
                    <div class="panel-body">
                    <a href="/impacto/create_area/{{ projeto.id }}/">Criar Area</a>
                        <table class="display dataTable" width="100%">
                            <thead>
                                <tr>
                                    <th>Descrição</th>
                                </tr>
                            </thead>
                            <tbody>
                                    {% if not areas.is_true %}
                                        <td> Não há nenhuma Area! </td>
                                    {% endif %}
                                    {% for item in areas.content %}
                                        <tr>
                                            <td> {{ item.descricao }} </td>
                                        </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
              </div>
          </div>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
          <h4>Fases</h4>
          <div class="col-lg-5">
              <section class="panel">
                <header class="panel-heading custom-tab dark-tab">
                    <ul class="nav nav-tabs">
                        <li class="active"> <a href="#planejamento" data-toggle="tab">Planejamento</a> </li>
                        <li class=""> <a href="#operacao" data-toggle="tab">Operação</a> </li>
                        <li class=""> <a href="#implantacao" data-toggle="tab">Implantação</a> </li>
                        <li class=""> <a href="#fechamento" data-toggle="tab">Fechamento</a> </li>
                    </ul>
                </header>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="planejamento">
                            <a href="/impacto/create_impacto/{{ projeto.id }}/{{ fase.P.id }}/">Criar Impacto</a>
                            {% include "impacto/include/fase_temp_impacto.html" with content_include=fase.P.content.impacto %}
                            </br></br>
                            <a href="/impacto/create_diagnostico/{{ projeto.id }}/{{ fase.P.id }}/">Criar Diagnóstico</a>
                            {% include "impacto/include/fase_temp_diagnostico.html" with content_include=fase.P.content.diagnostico %}
                        </div>
                        <div class="tab-pane" id="operacao">
                            <a href="/impacto/create_impacto/{{ projeto.id }}/{{ fase.O.id }}/">Criar Impacto</a>
                            {% include "impacto/include/fase_temp_impacto.html" with content_include=fase.O.content.impacto %}
                            </br></br>
                            <a href="/impacto/create_diagnostico/{{ projeto.id }}/{{ fase.O.id }}/">Criar Diagnóstico</a>
                            {% include "impacto/include/fase_temp_diagnostico.html" with content_include=fase.O.content.diagnostico %}
                        </div>
                        <div class="tab-pane" id="implantacao">
                            <a href="/impacto/create_impacto/{{ projeto.id }}/{{ fase.I.id }}/">Criar Impacto</a>
                            {% include "impacto/include/fase_temp_impacto.html" with content_include=fase.I.content.impacto %}
                            </br></br>
                            <a href="/impacto/create_diagnostico/{{ projeto.id }}/{{ fase.I.id }}/">Criar Diagnóstico</a>
                            {% include "impacto/include/fase_temp_diagnostico.html" with content_include=fase.I.content.diagnostico %}
                        </div>
                        <div class="tab-pane" id="fechamento">
                            <a href="/impacto/create_impacto/{{ projeto.id }}/{{ fase.F.id }}/">Criar Impacto</a>
                            {% include "impacto/include/fase_temp_impacto.html" with content_include=fase.F.content.impacto %}
                            </br></br>
                            <a href="/impacto/create_diagnostico/{{ projeto.id }}/{{ fase.F.id }}/">Criar Diagnóstico</a>
                            {% include "impacto/include/fase_temp_diagnostico.html" with content_include=fase.F.content.diagnostico %}
                        </div>

                    </div>
                </div>
            </section>
          </div>
      </div>
    </div>
{% endblock %}