{% extends 'layout.html' %} {% load staticfiles %}

{% block cssformat %}
<style>
        .bloco
        {
            margin: 95px;
        height: 100%; /*Specify Height*/
        width:  90%; /*Specify Width*/
        border: 1px solid black; /*Add 1px solid border, use any color you want*/
        text-align:center; /*Align the text to the center*/
        }


</style>
{% endblock %}


{% block content %}


<section class="panel">
    <header class="panel-heading">
        {{estacao.Nome}}
        <span class="tools pull-right">
            <a href="javascript:;" class="fa fa-chevron-down"></a>
        </span>
    </header>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-6">
                <div class="sparkline-dashboard" id="sparkline-1"></div>
                <div class="sparkline-dashboard-info">
                    <strong>Altitude:</strong>
                    {{ estacao.Altitude }}
                </div>
            </div>
            <div class="col-xs-6">
                <div class="sparkline-dashboard" id="sparkline-2"></div>
                <div class="sparkline-dashboard-info">
                    <strong>UF</strong>
                    {{ estacao.UF }}
                </div>
            </div>
        </div>
    </div>
</section>

{% for item in graficos  %}

<section class="panel">
    <header class="panel-heading">
        {{item.title.text}}
        <span class="tools pull-right">
            <a href="javascript:;" class="fa fa-chevron-up"></a>
        </span>
    </header>
    <div class="panel-body" style="display:none;">
        <div class="box-content">
            <div class='bloco' id="elem{{ item.id}}" style="min-height: 400px;"></div>
        </div>
    </div>
</section>


{% endfor %}


{% endblock %}

{% block scriptsJava %}
<script type="text/javascript">
    $(function () {
        {% for item in graficos  %}
            $('#elem{{item.id}}').highcharts({
                chart: { type : '{{ item.type}}', 
                         events: {
                                load: function(event) {
                                                        this.renderer.image('/static/img/climaagoralogo.gif',05,05,130,40).add();
                                                      }
                                }       
                        },                    
                title: { text : '{{ item.title.text|safe }}'    } ,
                subtitle: { text : '{{  item.subtitle.text|safe }} '  } ,
                xAxis: {{ item.xAxis|safe }} , 
                yAxis: {{ item.yAxis|safe  }},
                plotOptions: {{ item.plotOptions|safe }},
                credits: {{ item.credits|safe }},
                legend : { enabled :  {{ item.legend }} },
                series: {{ item.series|safe }}
            });
        {% endfor %}
    });


</script>


{% endblock %}
