{% extends 'layout.html' %} {% load staticfiles %}


{% block cssformat %}
	<link href="/static/plugins/typeahead/typeahead.css" rel="stylesheet">
{% endblock %}



{% block content %}


    <form  method="POST">
                {% csrf_token %}
                <div class="row form-group">
                    <div class="col-sm-6">
                        <h4 class="page-header">{{ form.nomeEstacao.label }}</h4>
                        {{ form.nomeEstacao}}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3">
                        <h4 class="page-header">{{ form.nomeTexto.label }}</h4>
                        {{ form.nomeTexto}}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-6">
                        <button class="btn btn-default" type="submit" ><i class="fa fa-cog"></i> Processar</button>
                    <div>
                </div>
                        </div>
                    </div>
                </form>


{% endblock %}



{% block scriptsJava %}
    <script  type="text/javascript" src="/static/plugins/typeahead/typeahead.jquery.min.js"></script>
	<script>


function Select2Test(){
    $("#el2").select2();
}

$(document).ready(function() {
    // Load script of Select2 and run this
    //LoadSelect2Script(Select2Test);
    //WinMove();

    var substringMatcher = function(strs) {
      return function findMatches(q, cb) {
        var matches, substringRegex;

        // an array that will be populated with substring matches
        matches = [];

        // regex used to determine if a string contains the substring `q`
        substrRegex = new RegExp(q, 'i');

        // iterate through the pool of strings and for any string that
        // contains the substring `q`, add it to the `matches` array
        $.each(strs, function(i, str) {
          if (substrRegex.test(str)) {
            matches.push(str);
          }
        });
    
        cb(matches);
      };
    };
    var states = {{ estacoes|safe }};
    $('#id_nomeEstacao').typeahead({
      hint: true,
      highlight: false,
      minLength: 1
    },
    {
      name: 'states',
      source: substringMatcher(states)
    });
});
</script>
{% endblock %}a
