<div>
    <h5>Impacto</h5>
    <table class="display dataTable" width="100%">
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Meio</th>
                <th>Area</th>
                <th>Tipo Area</th>
                <th>Impacto</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Descrição</th>
                <th>Meio</th>
                <th>Area</th>
                <th>Tipo Area</th>
                <th>Impacto</th>
            </tr>
        </tfoot>
        <tbody>
            {% for item in content_include %}
                <tr>
                    <td><a href="/impacto/editar/impacto_projeto/{{ item.id }}/">{{ item.descricao }}</a></td>
                    <td>{{ item.meio_FK.descricao }}</td>
                    <td><a href="/impacto/editar/area/{{ item.area_FK.id }}/" >{{ item.area_FK.descricao }}</a></td>
                    <td>{{ item.tipo_area_FK.descricao }}</td>
                    <td><a href="/impacto/impacto/{{ item.impacto_FK.id }}/">{{ item.impacto_FK.descricao }}</a> </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
