<table width="100%" class="dataTable">
  <tr>
    <th>Critério</th>
    <th>Impacto Potencial</th>
    <th>Mitigação / Controle / Potencialização</th>
    <th>Impacto Provável</th>
  </tr>
    {% for resposta in respostas %}
        <tr>
            <td>{{ resposta.criterio }}</td>
            <td>{{ resposta.potencial }}</td>
            {% if forloop.first %}
                <td rowspan="{{ respostas | length }}">
                    <div class="row">
                        {% if aia %}
                            <select class="form-control" size="8" multiple="multiple">
                                {% for programa in programas %}
                                    <option>{{ programa }}</option>
                                {% endfor %}
                            </select>
                            Resposta: {{ aia }}
                        {% else %}

                            <div class="col-xs-5">
                                <select name="from[]" id="multiselect" class="form-control" size="8" multiple="multiple">
                                    {% for programa in programas %}
                                        <option value="{{ programa.id }}">{{ programa.descricao }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-xs-2">
                                <button type="button" id="multiselect_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
                                <button type="button" id="multiselect_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
                                <button type="button" id="multiselect_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
                                <button type="button" id="multiselect_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
                            </div>

                            <div class="col-xs-5">
                                <select name="respGab" id="multiselect_to" class="form-control" size="8" multiple="multiple"></select>
                            </div>
                            <div>
                                <p>Resposta</p>
                                <textarea name="respGabText"></textarea>
                            </div>
                        {% endif %}
                    </div>
                </td>
            {% endif %}
            <td>{{ resposta.provavel }}</td>
        </tr>
    {% endfor %}
</table>
