<!-- Placed js at the end of the document so the pages load faster -->
<script src="/static/assets/js/vendor/jquery-1.12.0.min.js"></script>
<script src="/static/assets/js/vendor/jquery-ui.min.js"></script>
<script src="/static/assets/js/vendor/bootstrap.min.js"></script>
<script src="/static/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/assets/js/vendor/modernizr.min.js"></script>
<script src="/static/plugins/leaflet/leaflet.js"></script>
<script src="/static/plugins/leaflet/Control.MiniMap.min.js"></script>
<!--common scripts for all pages-->
<script src="/static/assets/js/vendor/adminex.js"></script>
<!-- HightCharts  -->
<script type="text/javascript" src="/static/plugins/highcharts/js/highstock.js"></script>
<script type="text/javascript" src="/static/plugins/highcharts/js/modules/exporting.js"></script>
<script type="text/javascript" src="/static/plugins/highcharts/js/highcharts-more.js"></script>

<script type="text/javascript" src="/static/plugins/DataTables/js/jquery.dataTables.min.js"></script>










