{% load staticfiles %}
{% load leaflet_tags %}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        {% include 'head.html' %}
        {% block cssformat %}{% endblock %}
    </head>
    <body class="horizontal-menu-page">

        <section>
            <!-- NAVBAR -->
            {% include 'navbar.html' %}
            <!-- /.navbar -->

            <div class="page-heading">
                <h3>
                    {{ pagetitle|safe }}<small>{{ pagesubtitle|safe }}</small>
                </h3>
                <ul class="breadcrumb">
                    {{ pagebreadgrumb|safe }}
                </ul>
            </div>


            <!-- container -->
            <div class="wrapper">
                {% block content %}
                {% endblock %}
            </div>
            <!-- /container -->
            <!-- FOOTER -->
            {% include 'footer.html' %}
            <!-- /FOOTER -->

        </section>
        <!-- JavaScript libs are placed at the end of the document so the pages load faster  - moved to top to test something-->
        {% include 'javabase.html' %}
        <!-- /java includes -->
        {% block scriptsJava %}{% endblock %}
    </body>
</html>
